extends layout 
block content
    .container-fluid
      h2 Procurement Records
      .row
        .col.table-responsive
          table.table.table-bordered.table-hover.table-secondary(style='margin-top:15px;')
            thead
                tr
                    th Name of produce(kgs)
                    th Branch 
                    th Date/Time of produce
                    th Tonnage(kgs)
                    th Cost(ugx)
                    th Name of the dealer
                    th Price to be sold
                    th Contact
                    th Type of Produce
                    
                tbody
                if purchases.length
                    each purchase in purchases
                        tr
                            td #{purchase.nameofProduce}
                            //name and email have to match exactly with models database file as they are written in small case
                            td #{purchase.branch}
                            td #{purchase.date}
                            td #{purchase.thecost}
                            td #{purchase.nameofthedealer}
                            td #{purchase.pricetosold}
                            td #{purchase.date}
                            td #{purchase.goods}   
                            td
                                form.delete(method="post" action='/products/delete')
                                input(type="hidden", placeholder="", name="id", value=product._id)
                                button.button2(type="submit") Delete
                            td
                                form.delete(method='post', action='/sales/delete')
                                input(type='hidden', name='firstname', value='signup.firstname')
                                button(type='submit') Delete
    span#footer-content &copy; 2022 Copyright: Arinaitwe Sheila
    script(src='/assets/bootstrap/js/bootstrap.bundle.js')
                            
