extends layout 
block content 
    .container-fluid
      h2 Procurement Records
      p TOTAL PROCUREMENT COST
      p #{total.totalCost} UGX
      P TONNAGE 
      P #{total.totalTonnage} kgs
      
      .row
        .col.table-responsive
          table.table.table-bordered.table-hover.table-secondary(style='margin-top:15px;')
            thead
              tr
                th Name of produce(kgs)
                th Branch
                th Tonnage(kgs)
                th Cost(ugx)
                th Name of the dealer
                th Price to be sold
                th Contact
                th Type of Produce
                th Edit 
                th Delete
            tbody    
            if purchases.length
              each purchase in purchases
                  tr
                    td #{purchase.nameofProduce}
                    td #{purchase.branch}
                    td #{purchase.tonnage}
                    td #{purchase.thecost} 
                    td #{purchase.nameofthedealer} 
                    td #{purchase.pricetosold}
                    td #{purchase.contact} 
                    td #{purchase.goods}
                    td
                      a.btn.btn-dark.btn-block(href='/purchases/editpurchases/'+purchase.id) Edit
                    td
                      form.delete(method='post', action='/purchases/delete')
                        input(type='hidden', name="id", value = purchase._id)
                        button(type='submit') Delete
    span#footer-content &copy; 2022 Copyright: Arinaitwe Sheila
    script(src='/assets/bootstrap/js/bootstrap.bundle.js')
    script(src='/javascript/register.js')   