extends layout 
block content 
    .container-fluid
      h2 Register Records
      .row
        .col.table-responsive
          table.table.table-bordered.table-hover.table-secondary(style='margin-top:15px;')
            thead
                tr
                    th First Name 
                    th Surname 
                    th Branch 
                    th Role 
                    th Email
                    th Edit
                    th Delete
                tbody
                if signups.length
                    each signup in signups 
                        tr
                            td #{signup.firstname}
                            //name and email have to match exactly with models database file as they are written in small case
                            td #{signup.surname}
                            td #{signup.branch}
                            td #{signup.role}
                            td #{signup.email}
                            
                                // "/products/edit/" are routes to be created inorder for it to work
                                //-  a.button2(href="/products/edit/"+signup.firstname) Edit 
                                
                            td
                                form.delete(method="post" action='/register/delete')
                                    // '/products/delete' are routers to create to delet differently
                                    input(type="hidden", placeholder="", name="firstname", value=signup.fristname)
                                    button.button2(type="submit") Edit

                            td
                                form.delete(method='post', action='/register/delete')
                                    // '/products/delete' are routers to create to delet differently
                                    input(type='hidden', name="id", value=signup ._id)
                                    button(type='submit') Delete

    span#footer-content &copy; 2022 Copyright: Arinaitwe Sheila
    script(src='/assets/bootstrap/js/bootstrap.bundle.js')
    
