extends layout 
block content
    .container-fluid
      .card.col-md-3
        .card-body
          h5.card-title CREDIT RECORDS
          h6.card-subtitle.mb-2.text-muted TOTALS
        if sales.length
          p.card-text.fw-bold.fs-6  TOTAL REVENUE RECEIVED :
            strong.card-text.fs-6.danger  -#{total.totalAmountdue} ugx 
          p.card-text.fw-bold.fs-6 TOTAL TONNAGE SOLD OUT : 
            strong.card-text.fs-6 #{total.totalTonnage} kgs

            if sales.length
              p TOTAL REVENUE RECEIVED 
              p #{total.totalRevenue} ugx 
              p TOTAL TONNAGE SOLD OUT 
              p #{total.totalTonnage} kgs
            else 
              p There are no sales captured
      .row
        .col.table-responsive
          table.table.table-bordered.table-hover.table-secondary(style='margin-top:15px;')
            thead
              tr
                th Name of produce(kgs)
                th Branch
                th Amount paid(ugx) 
                th Buyer's Name:
                th Sales agent's name:
                th Date and Time
                th Tonnage
                th Edit 
                th Delete
            tbody    
            if sales.length
              each sale in sales  
                  tr
                    td #{sale.producename}
                    td #{sale.branch} 
                    td #{sale.amountpaid} 
                    td #{sale.buyername} 
                    td #{sale.agentsname}
                    td #{sale.dateandtime} 
                    td #{sale.tonnage}
                    td
                      a.btn.btn-dark.btn-block(href='/sales/edit/'+sale._id) Edit
                    td
                      form.delete(method='post', action='/sales/delete')
                        input(type='hidden', name="id", value=sale._id)
                        button(type='submit') Delete


    span#footer-content &copy; 2022 Copyright: Arinaitwe Sheila
    script(src='/assets/bootstrap/js/bootstrap.bundle.js')
    script(src='/javascript/register.js')  
